@import "../../index";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.userIcon {
  width: 3.5rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.a {
  outline: none;
  text-decoration: none;
  font-size: $small-font-size;
  font-weight: 600;
  font-family: "Inter";
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > img {
    height: 2.688rem;
  }

  & > p {
    text-align: center;
    margin-top: 0.25rem;
  }
}

.main {
  text-decoration: none;
  font-size: $small-font-size;
  font-weight: 600;
  font-family: "Inter";
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > img {
    height: 4.375rem;
  }

  & > p {
    text-align: center;
  }
}
