@import '../../index';

$font-size: $main-font-size;
$padding: 0.688rem;

.container {
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: $font-size;
  font-weight: 400;
  font-size: $font-size;
  color: white;
  display: flex;
}

.label {
  width: fit-content;
  display: block;
  padding: $padding;
  border-radius: inherit;
  text-align: center;

  &.noImage {
    background-color: #0496ff;
  }

  &.image {
    background-color: #ffffff;
    border-right: 1px solid #dadada;
    display: flex;
    align-items: center;
  }
}

.input {
  border: none;
  outline: none;
  margin: $padding;
  font-weight: 400;
  font-size: $font-size;
  width: 100%;
  text-transform: uppercase;
}
