html,
body,
#root {
  width: 100%;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1.25rem;
  font-family: 'Inter';
}

$big-font-size: 1.875rem;
$main-font-size: 1.313rem;
$small-font-size: 0.5rem;
