.button {
  border-radius: 21px;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border: 0.188rem solid;
  background: none;
}