.button {
  background-color: #0496ff;
  color: #fff;
  border-radius: 21px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  width: 100%;
}
