@import '../../index';

$gap: 0.5rem;

$border-radius: $main-font-size;

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.25rem;
  position: relative;
  box-sizing: border-box;
}

.h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4px;
  text-align: center;
  font-weight: 800;
  font-size: $big-font-size;
  margin: 0;
  color: #1877f2;
  border: 3px solid #1877f2;
  border-radius: 21px;
  padding: 4px 26px;
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $gap;
  height: 80%;
}
